.App-header {
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-nav {

}

#user-header {
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.profile-photo {
  border-radius: 50%;
  border-width: 1px;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-style: solid;
  border-color: #6d1111;
}

@media only screen and (max-width: 600px) {
  .profile-photo {height: 5rem; width: 5rem}
}

@media only screen and (max-width: 761px) {
  .profile-photo {height: 5rem; width: 5rem}
}


.logout-button {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
}

.event-stream {
  overflow: scroll;
  height: 80vh
}

#category-tab {
  background-color: #45913E;
}

#event-card-header {
  height: 300px;
  object-fit: cover;
  
}