.map-container {
  width: 100%;
  height: 100vh;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50px;
  transform: translateX(-20%);
  z-index: 10;
  width: 250px;
}

.combobox-input {
  margin-left: 200%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
}
